n8n/workflows/gament-ai-telegram-agent.json
{
  "name": "Gament - Smart AI Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "webhookId": "gament-ai-agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 12
      },
      "id": "memory",
      "name": "Conversation Memory",
      "type": "n8n-nodes-base.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [420, 420]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "openai-chat",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.2,
      "position": [420, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI (or OpenRouter)"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are Gament AI Assistant — a helpful, friendly Persian-speaking assistant for the Gament gaming tournament platform.\n\nGament is a platform for mobile esports tournaments (COD Mobile, Fortnite, Clash Royale).\n\nYour personality: Friendly, enthusiastic about gaming, professional but casual. Always reply in Persian (Farsi) unless the user speaks English.\n\nCapabilities:\n- Answer questions about tournaments, rules, how to register\n- Help users check their status or upcoming matches\n- Give tournament recommendations\n- Explain wallet, prizes, judging system\n- Be helpful and fun\n\nRules:\n- If user asks about a specific tournament or their status, use the available tools.\n- Always be truthful. If you don't know, say so and suggest they check the app.\n- Keep answers short and clear.\n- Use emojis appropriately.\n\nCurrent user chat ID: {{ $('Telegram Trigger').item.json.message.chat.id }}",
        "options": {
          "systemMessage": "You are Gament's smart AI assistant. Reply in Persian by default."
        }
      },
      "id": "ai-agent",
      "name": "Gament AI Agent",
      "type": "n8n-nodes-base.agent",
      "typeVersion": 1.8,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'https://www.gament1.ir' }}/api/n8n/ai/get-tournaments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ game: $json.game || null, limit: 5 }) }}",
        "headers": {
          "x-n8n-secret": "={{ $env.N8N_WEBHOOK_SECRET }}"
        },
        "options": {}
      },
      "id": "tool-tournaments",
      "name": "Get Upcoming Tournaments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 180],
      "typeOptions": {
        "continueOnFail": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'https://www.gament1.ir' }}/api/n8n/ai/user-status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegramId: $('Telegram Trigger').item.json.message.from.id }) }}",
        "headers": {
          "x-n8n-secret": "={{ $env.N8N_WEBHOOK_SECRET }}"
        },
        "options": {}
      },
      "id": "tool-user-status",
      "name": "Get User Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 320],
      "typeOptions": {
        "continueOnFail": true
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parseMode": "HTML",
          "disableWebPagePreview": true
        }
      },
      "id": "send-reply",
      "name": "Send Reply to User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 300],
      "credentials": {
        "telegramApi": {
          "id": "gament-telegram",
          "name": "Gament Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Gament AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gament AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Gament AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gament AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Tournaments": {
      "ai_tool": [
        [
          {
            "node": "Gament AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Status": {
      "ai_tool": [
        [
          {
            "node": "Gament AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Tehran",
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "gament-ai-agent"
  },
  "tags": ["gament", "ai", "telegram", "agent", "smart-bot"]
}
